#======================================================================
# These are added by Qt, the IDE I use.
#======================================================================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#======================================================================
# Manually added
#======================================================================
CPP-Faker.pro.user
docs/
test-bin-mac/
